/*button {
    font-family: inherit;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    background-color: #dedede;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 2.5px;
}
button:hover {
    background-color: rgb(0, 238, 255);
    transform: scale(1.05);
}*/

text {
    color: black;
}

button {
    background: none;
    font-family: inherit;
    font-size: 0.8em;
    border-radius: 4px;
    border: 2px solid black;
    height: 20px;
    margin: auto;
    text-align: center;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all .2s cubic-bezier(.39, .5, .15, 1.36);
    font-weight: bold
}

button:hover {
    border: 2px solid rgb(11, 194, 207);
    color: rgb(11, 194, 207);
    transform: scale(1.05);
}

input {
    font-family: inherit;
    font-size: 0.8em;
    font-weight: bold;
    height: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 auto 4px;
    align-items: center;
    background: none;
}

.setting {
    position: relative;
    top: 4.25px;
}

.color {
    height: 20px;
    transition: 0.2s;
}

.color:hover {
    border: 2px solid rgb(11, 194, 207);
}

body {
    background-color: #f7f7f7;
    min-width: 450px;
    max-width: 100%;
    min-height: 200px;
    max-height: 100%;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    color: black;
    font-family: "Nunito", sans-serif;
}

.detailText {
    font-size: 15px;
    color: black;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.detailText:hover {
    color: rgb(11, 194, 207);
    transform: scale(0.990)
}

.h1 {
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
    font-family: Titan One, sans-serif;
    text-decoration: none;
    color: white;
    line-height: 55px;
}

.headerText {
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.headerSub {
    font-family: Nunito, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
}

.pageContainer {
    margin: 65px 3.5% 0;
}

.sectionContainer {
    width: 90%;
    display: flex;
    flex-direction: column
}

.detailContainer {
    margin: 0px 30px 0;
}

.navbar {
    background-color: #9a49aa;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0
}

br {
    display: block;
    content: "";
    margin-top: 5.5px;
}